<!doctype html>
<html lang="en">
<head>
        <meta charset="utf-8" />
        <title>Enter New Password | Leapsail</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="Ohunayo Gege" name="author" />
        <!-- App favicon -->
        <link rel="shortcut icon" href="/static/images/favicon.ico">

        <!-- Bootstrap Css -->
        <link href="/static/css/bootstrap.min.css" id="bootstrap-style" rel="stylesheet" type="text/css" />
        <!-- Icons Css -->
        <link href="/static/css/icons.min.css" rel="stylesheet" type="text/css" />
        <!-- App Css-->
        <link href="/static/css/app.min.css" id="app-style" rel="stylesheet" type="text/css" />

    </head>

    <body>
        <div class="home-btn d-none d-sm-block">
            <a href="{% url 'home' %}" class="text-dark"><i class="fas fa-home h2"></i></a>
        </div>
        <div class="account-pages my-5 pt-sm-5">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-8 col-lg-6 col-xl-5">
                        <div class="card overflow-hidden">
                            <div class="bg-soft-primary">
                                <div class="row">
                                    <div class="col-7">
                                        <div class="text-primary p-4">
                                            <h5 class="text-primary">Password Recovery !</h5>
                                            <p>Enter New Password.</p>
                                        </div>
                                    </div>
                                    <div class="col-5 align-self-end">
                                        <img src="/static/images/leapsail.png" alt="" class="img-fluid">
                                    </div>
                                </div>
                            </div>
                            <div class="card-body pt-0"> 
                                <div>
                                    <a href="{% url 'home' %}">
                                        <div class="avatar-md profile-user-wid mb-4">
                                            <span class="avatar-title rounded-circle bg-light">
                                                <img src="/static/images/logo.svg" alt="" class="rounded-circle" height="34">
                                            </span>
                                        </div>
                                    </a>
                                </div>
                                <div class="p-2">
                                    <form class="form-horizontal" method="post">
                                        {% csrf_token %}
                                        <div class='error'>{{form.errors}}</div>
        
                                        <div class="form-group">
                                            <label for="username">New Password</label>
                                            <input type="password" name="new_password1" class="form-control" id="password1" placeholder="Enter New Password">
                                        </div>
                
                                        <div class="form-group">
                                            <label for="userpassword">Confirm Password</label>
                                            <input type="password" name="new_password2" class="form-control" id="userpassword" placeholder="Confirm Password">
                                        </div>
                                        
                                        <div class="mt-3">
                                            <button class="btn btn-primary btn-block waves-effect waves-light" type="submit">Reset My Password</button>
                                        </div>
            
                                        <div class="mt-4 text-center">
                                            <a href="{% url 'password_reset' %}" class="text-muted"><i class="mdi mdi-lock mr-1"></i> Forgot your password?</a>
                                        </div>
                                    </form>
                                </div>
            
                            </div>
                        </div>
                        <div class="mt-5 text-center">
                            <p>Don't have an account ? <a href="{% url 'register' %}" class="font-weight-medium text-primary"> Signup now </a> </p>
                            <p>© 2020 User Authentication <i class="mdi mdi-heart text-danger"></i> by Ohunayo Gege</p>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </body>
</html>
