<!doctype html>
<html lang="en">
<head>
        <meta charset="utf-8" />
        <title>Register | Leapsail</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
        <meta content="Ohunayo Gege" name="author" />
        <!-- App favicon -->
        <link rel="shortcut icon" href="/static/images/favicon.ico">

        <!-- Bootstrap Css -->
        <link href="/static/css/bootstrap.min.css" id="bootstrap-style" rel="stylesheet" type="text/css" />
        <!-- Icons Css -->
        <link href="/static/css/icons.min.css" rel="stylesheet" type="text/css" />
        <!-- App Css-->
        <link href="/static/css/app.min.css" id="app-style" rel="stylesheet" type="text/css" />

    </head>

    <body>
        <div class="home-btn d-none d-sm-block">
            <a href="{% url 'home' %}" class="text-dark"><i class="fas fa-home h2"></i></a>
        </div>
        <div class="account-pages my-5 pt-sm-5">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-8 col-lg-6 col-xl-5">
                        <div class="card overflow-hidden">
                            <div class="bg-soft-primary">
                                <div class="row">
                                    <div class="col-7">
                                        <div class="text-primary p-4">
                                            <h5 class="text-primary">Free Register</h5>
                                            <p>Get your free Leapsail account now.</p>
                                        </div>
                                    </div>
                                    <div class="col-5 align-self-end">
                                        <img src="/static/images/leapsail.png" alt="" class="img-fluid">
                                    </div>
                                </div>
                            </div>
                            <div class="card-body pt-0"> 
                                <div>
                                    <a href="{% url 'home' %}">
                                        <div class="avatar-md profile-user-wid mb-4">
                                            <span class="avatar-title rounded-circle bg-light">
                                                <img src="/static/images/logo.svg" alt="" class="rounded-circle" height="34">
                                            </span>
                                        </div>
                                    </a>
                                </div>
                                <div class="p-2">
                                    <form class="form-horizontal" method="post" enctype="multipart/form-data">
                                        {% csrf_token %}

                                        <div class='error'>{{form.errors}}</div>
            
                                        <div class="form-group">
                                            <label for="fname">First Name</label>
                                            <input type="text" name="first_name" class="form-control" id="firstname" placeholder="Enter Firstname">
                                        </div>

                                        <div class="form-group">
                                            <label for="fname">Last Name</label>
                                            <input type="text" name="last_name" class="form-control" id="firstname" placeholder="Enter Lastname">
                                        </div>

                                        <div class="form-group">
                                            <label for="useremail">Email</label>
                                            <input type="email" name="email" class="form-control" id="useremail" placeholder="Enter email">        
                                        </div>
                
                                        <div class="form-group">
                                            <label for="username">Username</label>
                                            <input type="text" name="username" class="form-control" id="username" placeholder="Enter username">
                                        </div>
                
                                        <div class="form-group">
                                            <label for="userpassword">Password</label>
                                            <input type="password" name="password1" class="form-control" id="userpassword" placeholder="Enter password">        
                                        </div>

                                        <div class="form-group">
                                            <label for="userpassword">Confirm Password</label>
                                            <input type="password" name="password2" class="form-control" id="userpassword" placeholder="Confirm password">        
                                        </div>

                                        <div class="form-group">
                                            <label for="photo">Photo</label>
                                            <input type="file" name="photo" accept="image/*" class="form-control" id="photo">
                                        </div>

                                        <div class="form-group">
                                            <label for="fname">Gender</label>
                                            <select name="gender" class="form-control">
                                                <option value="male">Male</option>
                                                <option value="female">Female</option>
                                            </select>
                                        </div>

                                        <div class="form-group">
                                            <label for="fname">Mobile</label>
                                            <input type="text" name="mobile" class="form-control" id="firstname" placeholder="Enter Mobile">
                                        </div>

                                        <div class="form-group">
                                            <label for="fname">Street Address</label>
                                            <input type="text" name="street" class="form-control" id="firstname" placeholder="Enter Street Address">
                                        </div>

                                        <div class="form-group">
                                            <label for="fname">City</label>
                                            <input type="text" name="city" class="form-control" id="firstname" placeholder="Enter City">
                                        </div>

                                        <div class="form-group">
                                            <label for="fname">State</label>
                                            <input type="text" name="state" class="form-control" id="firstname" placeholder="Enter State">
                                        </div>

                                        <div class="form-group">
                                            <label for="fname">LGA</label>
                                            <input type="text" name="lga" class="form-control" id="firstname" placeholder="Enter LGA">
                                        </div>

                                        <div class="form-group">
                                            <label for="fname">About</label>
                                            <textarea name="about" rows="6" class="form-control" id="firstname" placeholder="Enter About"></textarea>
                                        </div>
                    
                                        <div class="mt-4">
                                            <button class="btn btn-primary btn-block waves-effect waves-light" type="submit">Register</button>
                                        </div>
                
                                        <div class="mt-4 text-center">
                                            <p class="mb-0">By registering you agree to the Skote <a href="#" class="text-primary">Terms of Use</a></p>
                                        </div>
                                    </form>
                                </div>
            
                            </div>
                        </div>
                        <div class="mt-5 text-center">
                            <p>Already have an account ? <a href="{% url 'login' %}" class="font-weight-medium text-primary"> Login</a> </p>
                            <p>© 2020 User Authentication. <i class="mdi mdi-heart text-danger"></i> by Ohunayo Gege</p>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </body>
</html>
